@model IEnumerable<WSG.CafeOtomation.Entities.Concrete.Order>
@using WSG.CafeOtomation.Business.Abstract;
@{
    ViewData["Title"] = "Satislar";
}
<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<h1>Satis Raporlari</h1>
<label for="startdate">Başlangıç Tarihi:</label>
<input type="date" id="startdate" name="startdate" value="@DateTime.Now.Date.ToString("yyyy-MM-dd")"> &nbsp;
<label for="enddate">Bitiş Tarihi:</label>
<input type="date" id="enddate" class="end" name="enddate" value="@DateTime.Now.Date.ToString("yyyy-MM-dd")"> &nbsp;
<input type="submit" id="submit" value="Getir" class="btn btn-primary" />
<br />
<br />
<br />
<div id="partialContent"> </div>
<script type="text/javascript">
    $(function () {
        $("#submit").click(function () {
            var stateId = $(this).val();
            $("#partialContent").load("@Url.Action("OrderTotal","Sale")?startDate=" + $("#startdate").val() + "&endDate=" + $("#enddate").val());
   });
 });

</script>
