@model IEnumerable<WSG.CafeOtomation.Entities.Dtos.ProductDto>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MenuIndex</title>
</head>
<body>
    @foreach (var item in Model)
    {

    }
</body>
</html>
