@model IEnumerable<WSG.CafeOtomation.Entities.Dtos.ProductDto>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Model.FirstOrDefault().CategoryName</title>
    <style type="text/css">
        .main {
            position: relative;
        }

        img {
            position: relative;
            object-fit: cover;
            width: 100%;
            height: 100%;
            z-index: -1;
        }

        h1 {
            color: #fff;
            position: absolute;
            width: 100%;
            vertical-align: central;
            text-align: right;
            right: 10px;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            font-weight: bold;
            font-size: 30px;
        }

        h2 {
            color: #fff;
            position: absolute;
            width: 100%;
            vertical-align: bottom;
            text-align: right; 
            bottom: 5px;
            right: 10px;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            font-weight: bold;
            font-size: 25px;
        }

        .gredientColor {
            display: block;
            background: linear-gradient(rgba(0,0,100,0.5),rgba(0,0,100,0.5));
        }
    </style>
</head>
<body>
    @foreach (var item in Model)
    {
        <div class="row main">
            <div class="col-12">
                <a href="#">
                    <h1>@item.Name</h1>
                    <h2>@item.UnitPrice TL</h2>
                    <div class="gredientColor">
                        <img src="@item.ProductImages.SingleOrDefault(x=>x.IsCover).Path" />
                    </div>
                </a>
            </div>
        </div>
    }
</body>
</html>
