
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Giriş</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <form asp-controller="Login" asp-action="Login" method="post">
                <input type="text" class="form-control" name="userName" placeholder="Kullanıcı Adı" value="" />
                <br />
                <input type="password" class="form-control" name="password" placeholder="Şifre" value="" />
                <br />
                <input type="submit" class="btn btn-primary" name="send" value="Giriş" />
            </form>
        </div>
        <div class="col-4"></div>
    </div>
</body>
</html>
